@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  padding: 24px;
  padding-top: 12px;
  background-color: #2C2F33;

  /* font */
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: rgb(243, 243, 243);
}

main {
  max-width: 70ch;
  margin: 0 auto;
  text-align: start;
}

h1 .accent {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-color: #7289DA;
  text-decoration-style: wavy;
}

li {
  padding: 3px;
}

/* links */
a:link {
  color: rgb(161, 203, 255);
}
a:visited {
  color: rgb(191, 155, 254);
}
